/* BASE STYLING */
@font-face {
 font-family: "Sam";
 src: url("/fonts/Sam.otf") format("opentype"),
        url("/fonts/Sam.otf") format("opentype");
}

html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: normal 24px Sam, sans-serif;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

img {
  width: auto;
}

a {
  color: #2e2d2d;
  text-decoration: none;
}

figure img {
  height: 750px;
}

/* LAYOUT */
.disabled {
  visibility: hidden;
}

.logo img {
  height: 110px;
}

.nav-bar,
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.page-nav img {
  height: 45px;
  padding: 0 20px;
}

.social img {
  height: 40px;
}

/* STYLING */
.copy {
  font-size: 20px;
}

.nav-item {
  font-size: 30px;
}

.nav-link {
  font-size: 26px;
}
