/* BASE STYLING */
@font-face {
 font-family: "Sam";
 src: url("/fonts/Sam.otf") format("opentype"),
        url("/fonts/Sam.otf") format("opentype");
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background: url("/img/background.png") center center no-repeat;
  background-size: cover;
  font: normal 24px Sam, sans-serif;
  overflow: auto;
  overflow-x: hidden;
    /* Fallback */
  padding:0 10px;
  
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
h1,h2,h3,h4 {
  margin: 0 0 15px;
}
h2,h3,h4 {
  margin-top: 25px;
}
p {
  margin: 0;
}
figure {
  margin: 0;
  min-height: calc(100vh - 424px);
}
img {
  width: auto;
}
a {
  color: #2e2d2d;
  text-decoration: none;
}
figure img {
  height: 100%;
  max-height: 1740px;
  width: 100%;
}
/* LAYOUT */
footer .social,
.content,
.footer-nav,
.logo,
.nav-bar,
.title {
  padding: 15px 0;
}
article,
footer,
figure,
main,
.content-container,
.content-item,
.credits,
.err-404,
.err-404-img,
.err-404-link,
.footer-nav,
.box,
.logo,
.nav-bar,
.nav-menu,
.page-nav,
.panel,
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
footer,
.content,
.credits,
.err-404 {
  flex-direction: column;
}
footer .social,
.bonus,
.comic-wrap,
.content,
.logo img,
.page-nav,
.title {
  margin: 0 auto;
}
figure,
.err-404,
.err-404-img,
.err-404-link,
.footer-nav,
.nav-bar,
.nav-menu,
.panel {
  align-items: center;
}
article,
.err-404,
.err-404-img,
.footer-nav,
.box,
.panel {
  justify-content: center;
}
.about,
.content.list {
  margin: 20px;
}
.comic-wrap,
.err-404 {
  margin: 40px auto;
  max-width: 900px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
.content-container {
  flex-wrap: wrap;
}
.content-item {
  flex-direction: column;
  margin: 0 auto 40px;
}
.content-item figure {
  min-height: 170px;
  width: 200px;
}
.content-item figure img {
  height: auto;
  max-width: 250px;
}
.credits p {
  margin: 0;
  padding: 7px 0;
}
.disabled {
  visibility: hidden;
}
.bonus {
  max-height: 340px;
  height: 100%;
}
.box {
  height: 100px;
  margin: 10px auto;
  width: 100px;
}
#box {
  display: none;
}
#box:checked ~ .panel {
  height: 360px;
}
.err-404 {
  height: calc(100vh - 80px);
}
.err-404-img {
  height: 100%;
  width: 100%;
}
.err-404-img img {
  height: auto;
  max-width: 600px;
  width: 100%;
}
.err-404-link {
  justify-content: flex-start;
  width: 100%;
}
.err-404-link p {
  height: 30px;
}
.err-404-link img {
  height: 30px;
  margin-right: 10px;
}
.logo {
  height: auto;
  width: auto;
}
.logo img {
  height: 120px;
}
.mobile {
  display: none;
}
.nav-bar {
  margin: 0 20px;
}
.nav-bar,
.nav-menu,
.page-nav {
  justify-content: space-between;
}
.nav-item {
  height: 32px;
  margin-bottom: 10px;
}
.nav-menu {
  height: 36px;
}
.nav-menu {
  width: 320px;
}
.page-nav img,
.social-item img {
  margin: 5px 5px 0;
}
.page-nav {
  max-width: 700px;
  padding: 15px 10px;
  width: 100%;
}
.page-nav img,
.social-item img {
  height: 50px;
  width: 50px;
}
.panel {
  clear: both;
  height: 0px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition: height .4s ease;
  width: auto;
}
.social {
  margin: 5px 0;
}
.social-item {
  height: 100%;
  width: 100%;
}
@media (hover: hover) {
  .social-item img:hover {
    margin: 0 5px 5px;
    -webkit-transition: margin 0.10s ease;
    -moz-transition: margin 0.10s ease;
    -ms-transition: margin 0.10s ease;
    transition: margin 0.10s ease;
  }
}
#toggle {  display: none;}
@media screen and (max-width: 900px) {
  #box:checked ~ .panel {
    height: calc(100vw - 370px);
    min-height: 106px;
  }
}
@media screen and (max-width: 730px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto auto;
    grid-template-rows: repeat(2, auto);
  }
  .comic-wrap {
    margin: 20px auto;
  }
  .desktop {
    display: none;
  }
  .hamburger {
    align-self: center;    display: -ms-grid;    display: grid;
    height: auto;
    -ms-grid-rows: 9px 9px 9px;    grid-template-rows: repeat(3, 9px);    justify-items: center;
    width: 40px;    z-index: 120;  }
  .hamburger,
  #menu {
    justify-self: end;
  }  .hamburger div {    background-color: #ffbeee;
    border-radius: 5px;    height: 3px;    margin: 3px 0;
    position: relative;    -webkit-transition: all 0.2s ease-in-out;    transition: all 0.2s ease-in-out;
    width: 30px;  }
  .logo {
    max-width: 273px;
    width: 100%;
  }
  .logo img {
    height: 100%;
    max-height: 60px;
    margin: 0 auto 0 0;
  }
  #menu {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 0px;
    grid-column: 1/3;
    grid-row: 2;    list-style: none;
    margin: 0;    overflow: hidden;
    padding: 0;
    text-align: center;    transition: height .4s ease;    -webkit-transition: all 0.3s ease;    transition: all 0.3s ease;
    width: 100%;  }
  #menu .nav-item {
    background: unset;
    height: 44px;
    padding: 8px 0;
  }
  #menu .nav-item,
  #menu .social {
    margin: 0 0 0 auto;
  }
  .page-nav img,
  .social-item img {
    height: 35px;
    width: 35px;
  }  #toggle:checked + .hamburger .top {
    margin-top: 10.5px;    -webkit-transform: rotate(-45deg);    transform: rotate(-45deg);
  }  #toggle:checked + .hamburger .meat {
    margin-top: 2px;    -webkit-transform: rotate(45deg);    transform: rotate(45deg);  }  #toggle:checked + .hamburger .bottom {    -webkit-transform: scale(0);    transform: scale(0);  }  #toggle:checked ~ #menu {    height: 170px;  }
}
@media screen and (max-width: 615px) {
  .nav-bar {
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-menu {
    margin: 10px auto;
  }
}
@media screen and (max-width: 550px) {
  .box {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 415px) {
  .logo img {
    max-height: 50px;
  }
}
@media screen and (max-width: 400px) {
  .box {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 350px) {
  .logo img {
    max-height: 45px;
  }
}
/* STYLING */
.about {
  font-size: 24px;
  line-height: 34px;
}
.about h1,
.content.list h1,
.err-404-link p {
  font-size: 40px;
}
.about h2,
.content.list h2 {
  font-size: 36px;
}
.about a {
  color: #70B4D6;
}
.about ul {
  margin: 0;
}
.comic-wrap,
.err-404 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.content-list-date,
.credits p {
  text-align: center;
}
.content-title,
.credits .copy,
.footer-nav p,
.footer-nav a {
  font-size: 28px;
}
.nav-item {
  background: #fff url("/img/icons/line.svg") bottom center no-repeat;
  font-size: 32px;
}
@media screen and (min-width: 731px) {
  .nav-item:hover {
    background-position-y: 26px;
    -webkit-transition: background-position-y 0.10s ease;
    -moz-transition: background-position-y 0.10s ease;
    -ms-transition: background-position-y 0.10s ease;
    transition: background-position-y 0.10s ease;
  }
}
@media screen and (max-width: 730px) {
  .content-title,
  .credits .copy,
  .footer-nav p,
  .footer-nav a {
    font-size: 22px;
  }
  .nav-item {
    font-size: 28px;
  }
}
.nav-link {
  font-size: 26px;
}
.ad {
  display: none;
}