/* BASE STYLING */
@font-face {
 font-family: "Sam";
 src: url("/fonts/Sam.otf") format("opentype"),
        url("/fonts/Sam.otf") format("opentype");
}

html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: normal 24px Sam, sans-serif;
  overflow: auto;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

img {
  width: auto;
}

a {
  color: #2e2d2d;
  text-decoration: none;
}

figure img {
  height: 750px;
}

/* LAYOUT */
footer .social,
.content,
.copy,
.logo,
.nav-bar,
.page-nav,
.title {
  padding: 10px 0;
}

article,
main,
footer,
.logo,
.nav-bar,
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

article,
footer {
  flex-direction: column;
}

footer .social,
.content,
.logo img,
.page-nav,
.title {
  margin: 0 auto;
}

main,
.nav-bar {
  justify-content: space-between;
}

.disabled {
  visibility: hidden;
}

.logo img {
  height: 110px;
}

.nav-bar {
  margin: 0 20px;
}

.nav-item,
.page-nav img,
.social img {
  height: 40px;
  padding: 0 5px;
}

.page-nav {
  justify-content: space-around;
  width: 700px;
}

/* STYLING */
.copy {
  font-size: 20px;
  text-align: center;
}

.nav-item {
  font-size: 30px;
}

.nav-link {
  font-size: 26px;
}