%none {
  display: none;
}
%flex {
  display: flex;
}
%grid {
  display: grid;
}
%flex-wrap {
  flex-wrap: wrap;
}
%flex-column {
  flex-direction: column;
}
%items-center {
  align-items: center;
}
%items-end {
  align-items: end;
}
%items-flex-start {
  align-items: flex-start;
}
%items-flex-end {
  align-items: flex-end;
}
%items-start {
  align-items: start;
}
%content-center {
  justify-content: center;
}
%content-space-around {
  justify-content: space-around;
}
%content-space-between {
  justify-content: space-between;
}
%content-flex-start {
  justify-content: flex-start;
}
%content-flex-end {
  justify-content: flex-end;
}
%margin-horizontal-center {
  margin: 0 auto;
}
%margin-vertical-center {
  margin: auto 0;
}
%absolute {
  position: absolute;
}
%fixed {
  position: fixed;
}
%relative {
  position: relative;
}
%vertical-padding {
  padding: 15px 0;
}
%full-height {
  height: 100%;
}
%full-width {
  width: 100%;
}