@font-face {
  font-display: swap;
  font-family: 'Sam';
  font-weight: 400;
  font-style: normal;
  src: local(Sam),
       local(Sam),
       url("fonts/Sam.woff2") format("woff2"),
       url("fonts/Sam.woff") format("woff");
}

body {
  font-family: 'Sam', sans-serif;
}