@font-face {
  font-family: 'Sam Subset';
  font-weight: 400;
  font-style: normal;
  src: local(Sam-subset),
       local(Sam-subset),
       url("fonts/Sam-subset.woff2") format("woff2"),
       url("fonts/Sam-subset.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: 'Sam';
  font-weight: 400;
  font-style: normal;
  src: local(Sam),
       local(Sam),
       url("fonts/Sam.woff2") format("woff2"),
       url("fonts/Sam.woff") format("woff");
}

body {
  font-family: sans-serif;
}
.fonts-loaded-1 body {
  font-family: 'Sam Subset';
}
.fonts-loaded-2 body {
  font-family: 'Sam';
}