*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  body {
    background: linear-gradient(to bottom, #edefb4 0%,#ffffff 50%,#ffa5eb 100%);
    font-size: 24px;
    overflow: auto;
    overflow-x: hidden;
      /* Fallback */
    padding:0 10px;
    
    /* iOS 11 */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    
    /* iOS 11.2+ */
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    h1,h2,h3,h4 {
      margin: 0 0 15px;
    }
    h2,h3,h4 {
      margin-top: 25px;
    }
    p {
      margin: 0;
    }
    figure, picture {
      margin: 0;
      min-height: calc(100vh - 528px);
      img {
        height: 100%;
        max-height: 1740px;
        width: 100%;
        &:not([src]) {
          visibility: hidden;
        }
      }
    }
    a {
      color: #2e2d2d;
      text-decoration: none;
    }
    .desktop {
      @include media-query-max(730px) {
        display: none;
      }
    }
    .disabled {
      visibility: hidden;
    }
    .mobile {
      @extend %none;
    }
  }
}