<!-- Footer -->
<footer>
  <!-- Social Icons -->
  {{ partial "social.html" . }}
  
  <!-- Navbar -->
  <nav class="footer-nav">
    <a class="footer-item" href='{{ "/comic" | relURL }}'>Comic</a>
    <p>&nbsp;&bull;&nbsp;</p>
    <a class="footer-item" href='{{ "/about" | relURL }}'>About</a>
    <p>&nbsp;&bull;&nbsp;</p>
    <a class="footer-item" href="https://rustledjimmies.threadless.com" target="_blank" rel="noreferrer noopener">Shop</a>
  </nav>

  <!-- Credits -->
  <section class="credits">
    <p class="copy">Copyright {{ dateFormat "2006" now }} {{ .Site.Copyright }}</p>
  </section>
</footer>