<!-- Header -->
<header>
  <!-- Logo Homepage Link -->
  <a class="logo" href="{{ .Site.BaseURL }}">
    {{ $logo := resources.Get "img/logo.svg" | minify }}
    <img src="{{ $logo.Permalink }}" alt="Rustled Jimmies Dot Net">
  </a>

  <section class="nav-bar desktop">
    <!-- Navbar -->
    <nav class="nav-menu">
      <a class="nav-item" href='{{ "/comic" | relURL }}'>Comic</a>
      <a class="nav-item" href='{{ "/about" | relURL }}'>About</a>
      <a class="nav-item" href="https://rustledjimmies.threadless.com" target="_blank" rel="noreferrer noopener">Shop</a>
    </nav>
  
    <!-- Social Links -->
    {{ partial "social.html" . }}
  </section>
  
  <input id="toggle" type="checkbox" />
  <label class="hamburger mobile" for="toggle">
    <div class="top"></div>
    <div class="meat"></div>
    <div class="bottom"></div>
  </label>

  <nav id="menu" class="nav-menu mobile">
      <a class="nav-item" href='{{ "/comic" | relURL }}'>Comic</a>
      <a class="nav-item" href='{{ "/about" | relURL }}'>About</a>
    <a class="nav-item" href="https://rustledjimmies.threadless.com" target="_blank" rel="noreferrer noopener">Shop</a>
    {{ partial "social.html" . }}
  </nav>
</header>