<header>
  <!-- Logo Homepage Link -->
  <a class="logo" href="{{ .Site.BaseURL }}">
    <img src={{ "/img/assets/logo.svg" | relURL }} alt="Rustled Jimmies logo">
  </a>

  <div class="nav-bar">
    <!-- Navbar -->
    <nav class="nav-menu">
      <a class="nav-item" href="{{ .Site.BaseURL }}/archive">Archive</a>
      <a class="nav-item" href="{{ .Site.BaseURL }}/about">About</a>
      <a class="nav-item" href="{{ .Site.BaseURL }}/shop">Shop</a>
    </nav>
  
    <!-- Social Links -->
    <div class="social">
      {{with .Site.Params.instagram}}
      <a class="social-item" href="https://www.instagram.com/{{.}}" target="_blank">
        <img src={{ "/img/icons/insta.svg" | relURL }} alt="Instagram icon">
      </a>
      {{end}}
      {{with .Site.Params.twitter}}
      <a class="social-item" href="https://www.twitter.com/{{.}}" target="_blank">
        <img src={{ "/img/icons/twitter.svg" | relURL }} alt="Twitter icon">
      </a>
      {{end}}
      <a class="social-item" href="{{ .Site.RSSLink }}" target="_blank">
        <img src={{ "/img/icons/rss.svg" | relURL }} alt="RSS icon">
      </a>
      {{with .Site.Params.patreon}}
      <a class="social-item" href="https://www.patreon.com/{{.}}" target="_blank">
        <img src={{ "/img/icons/patreon.svg" | relURL }} alt="Patreon icon">
      </a>
      {{end}}
    </div>
  </div>
</header>