<div class="page-nav">
  <!-- Range section list, break into permalink variables based on dates -->
  {{ range where .Site.Pages.ByDate "Params.series" .Params.series }}
    {{ if gt $.Date.Unix .Date.Unix }}
      {{ $.Scratch.Set "previous" .Permalink }}
    {{ end }}
  {{ end }}
  {{ range where .Site.Pages.ByDate.Reverse "Params.series" .Params.series }}
    {{ if lt $.Date.Unix .Date.Unix }}
      {{ $.Scratch.Set "next" .Permalink }}
    {{ end }}
  {{ end }}

  <!-- Set page section variale for section -->
  {{ $sections := ($.Site.GetPage "section" .Section).Pages }}
  <!-- Range last post -->
  {{ range last 1 $sections }}
    <!-- Set permalinks to variables -->
    {{ $.Scratch.Set "last" .RelPermalink }}
    <!-- Format last date and set to variables -->
    {{ $lastDate := .PublishDate.Format "2006-01-02" }}
    {{ $.Scratch.Set "lastDate" $lastDate }}
  {{ end }}
  <!-- Range first post -->
  {{ range first 1 $sections }}
    <!-- Set permalinks to variables -->
    {{ $.Scratch.Set "first" .RelPermalink }}
    <!-- Format first date and set to variables -->
    {{ $firstDate := .PublishDate.Format "2006-01-02" }}
    {{ $.Scratch.Set "firstDate" $firstDate }}
  {{ end }}

  <!-- Get post date, format and set to variables -->
  {{ $date := .Date.Format "2006-01-02" }}
  {{ $.Scratch.Set "postDate" $date }}
  {{ $postDate := $.Scratch.Get "postDate" }}

  <!-- Navigation Menu. Links are disabled if there isn't more post to go through on either direction. -->
  <!-- Oldest post -->
  <a class="{{ if not ($.Scratch.Get "previous") }}disabled {{ end }}{{ if eq $postDate ($.Scratch.Get "lastDate")}}disabled {{ end }}page-last" href="{{ $.Scratch.Get "last" }}">
    <img src={{ "/img/icons/last.svg" | relURL }} alt="Hand drawn double arrows pointing left that link to the last post">
  </a>

  <!-- Older post -->
  <a href="{{ if $.Scratch.Get "previous" }}{{ $.Scratch.Get "previous" }} {{ end }}" class="{{ if not ($.Scratch.Get "previous") }}disabled {{ end }}{{ if eq $postDate ($.Scratch.Get "lastDate")}}disabled {{ end }}page-next">
    <img src={{ "/img/icons/previous.svg" | relURL }} alt="Hand drawn arrow pointing left that link to the previous post">
  </a>

  <!-- Generate random post -->
  {{ $randomPosts := shuffle $sections | first 1 }}
  {{ range $randomPosts }}
    <a class="page-random" href="{{ .RelPermalink }}">
      <img src={{ "/img/icons/random.svg" | relURL }} alt="Hand drawn question mark that links to a random post">
    </a>
  {{ end }}

  <!-- Newer post -->
  <a href="{{ if $.Scratch.Get "next" }}{{ $.Scratch.Get "next" }} {{ end }}" class="{{ if not ($.Scratch.Get "next") }}disabled {{ end }}page-prev">
    <img src={{ "/img/icons/next.svg" | relURL }} alt="Hand drawn arrow pointing right that link to the next post">
  </a>

  <!-- Newest post -->
  <a class="{{ if not ($.Scratch.Get "next") }}disabled {{ end }}page-last" href="{{ $.Scratch.Get "first" }}">
    <img src={{ "/img/icons/first.svg" | relURL }} alt="Hand drawn double arrows pointing right that link to the first post">
  </a>
</div>