<section class="page-nav">
  {{ if .Paginator.HasPrev }}
    <a class="page-prev" href="{{ .Paginator.Prev.URL }}">
      {{ $previous := resources.Get "img/previous.svg" | minify }}
      <img data-src="{{ $previous.Permalink }}" alt="Hand drawn double arrows pointing left that link to the last post" class="lazy">
    </a>
  {{ end }}

  {{ if .Paginator.HasNext }}
    <a class="page-next" href="{{ .Paginator.Next.URL }}">
      {{ $next := resources.Get "img/next.svg" | minify }}
      <img data-src="{{ $next.Permalink }}" alt="Hand drawn double arrows pointing left that link to the last post" class="lazy">
    </a>
  {{ end }}
</section>