<div class="page-nav">
  {{ $mysection := ($.Site.GetPage "section" .Section).Pages }}
  {{ range last 1 $mysection }}
  <a class="page-last" href="{{ .RelPermalink }}" title="Last page">
    <img src={{ "/latest.svg" | relURL }} alt="">
  </a>
  {{ end }}
  
  {{ range where .Site.Pages.ByDate "Params.series" .Params.series }}
    {{ if gt $.Date.Unix .Date.Unix }}
      {{ $.Scratch.Set "previous" .Permalink }}
    {{ end }}
  {{ end }}
  {{ range where .Site.Pages.ByDate.Reverse "Params.series" .Params.series }}
    {{ if lt $.Date.Unix .Date.Unix }}
      {{ $.Scratch.Set "next" .Permalink }}
    {{ end }}
  {{ end }}
  <a href="{{ if $.Scratch.Get "previous" }}{{ $.Scratch.Get "previous" }} {{ end }}" class="{{ if not ($.Scratch.Get "previous") }}disabled {{ end }}page-next" title="Next page">
    <img src={{ "/next.svg" | relURL }} alt="">
  </a>
  <a href="{{ if $.Scratch.Get "next" }}{{ $.Scratch.Get "next" }} {{ end }}" class="{{ if not ($.Scratch.Get "next") }}disabled {{ end }}page-prev" title="Previous page">
    <img src={{ "/prev.svg" | relURL }} alt="">
  </a>
  
  {{ range first 1 $mysection }}
  <a class="page-last" href="{{ .RelPermalink }}" title="Last page">
    <img src={{ "/first.svg" | relURL }} alt="">
  </a>
  {{ end }}
</div>