<!-- Service Worker -->
<script>
  if (navigator.serviceWorker) {
    navigator.serviceWorker.register("/sw.js", { scope: "/" });
    navigator.serviceWorker.ready.then(function(registration) {
      console.log("Service Worker Ready");
    });
    window.addEventListener("load", function() {
      if (navigator.serviceWorker.controller) {
        navigator.serviceWorker.controller.postMessage({ command: "trimCaches" });
      }
    });
  }
</script>
<!-- lazy Loader -->
{{ $js := resources.Get "js/lazy-loading.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}"></script>
<script>
  var myLazyLoad = new LazyLoad({
    elements_selector: ".lazy",
    threshold: 200,
    class_loading: "loading",
    class_error: "error"
  });
  img = document.querySelector('rss figure img.lazy');
  console.log(img);
</script>