<nav class="social">
  {{with .Site.Params.instagram}}
  <a class="social-item" href="https://www.instagram.com/{{.}}" target="_blank" title="Follow me on Instagram" rel="noreferrer noopener">
    {{ $instagram := resources.Get "img/insta.svg" | minify }}
    <img data-src="{{ $instagram.Permalink }}" alt="Instagram icon" class="lazy">
  </a>
  {{end}}
  {{with .Site.Params.twitter}}
  <a class="social-item" href="https://www.twitter.com/{{.}}" target="_blank" title="Follow me on Twitter" rel="noreferrer noopener">
    {{ $twitter := resources.Get "img/twitter.svg" | minify }}
    <img data-src="{{ $twitter.Permalink }}" alt="Twitter icon" class="lazy">
  </a>
  {{end}}
  <a class="social-item" href='{{ "comic/index.xml" | absURL }}' target="_blank" title="Subscribe to the feed" rel="noreferrer noopener">
    {{ $rss := resources.Get "img/rss.svg" | minify }}
    <img data-src="{{ $rss.Permalink }}" alt="RSS icon" class="lazy">
  </a>
  {{with .Site.Params.patreon}}
  <a class="social-item" href="https://www.patreon.com/{{.}}" target="_blank" title="Support me through Patreon" rel="noreferrer noopener">
    {{ $patreon := resources.Get "img/patreon.svg" | minify }}
    <img data-src="{{ $patreon.Permalink }}" alt="Patreon icon" class="lazy">
  </a>
  {{end}}
</nav>