{{ define "main" }}
  <!-- 404 -->
  <main class="comic-wrap err-404">
    <!-- Link back home -->
    <a href="{{ .Site.BaseURL }}" class="err-404-link"><img src={{ "/img/assets/previous.svg" | relURL }}><p>Home</p></a>
    
    <!-- 404 Image -->
    <section class="err-404-img">
        {{ $404 := resources.Get "img/404.png" }}
      <img src={{ $404.Permalink }} alt="Oh... You're not supposed to be here...">
    </section>
    
    <!-- Copyright -->    
    <section class="credits">
      <p class="copy">&copy; {{ dateFormat "2006" now }} {{ .Site.Copyright }}</p>
    </section>
  </main>
{{ end }}