{{ define "main" }}
  <!-- 404 -->
  <main class="comic-wrap err-404">
    <!-- Link back home -->
    <a href="{{ .Site.BaseURL }}" class="err-404-link">
      {{ $previous := resources.Get "img/previous.svg" | minify }}
      <img data-src="{{ $previous.Permalink }}" alt="Back to homepage" class="lazy">
      <p>Home</p>
    </a>
    
    <!-- 404 Image -->
    <section class="err-404-img">
      {{ $webp := resources.Get "img/404.webp" }}
      {{ $img := resources.Get "img/404.png" }}
      <picture class="img-wrap">
        <source data-srcset="{{ $webp.Permalink }}" type="image/webp">
        <source data-srcset="{{ $img.Permalink }}" type="image/png">
        <img data-src="{{ $img.Permalink }}" alt="Oh... You're not supposed to be here..."/ class="lazy">
      </picture>
    </section>
    
    <!-- Copyright -->    
    <section class="credits">
      <p class="copy">&copy; {{ dateFormat "2006" now }} {{ .Site.Copyright }}</p>
    </section>
  </main>
{{ end }}