{{/*  Shortcode takes in file name and type "extension". This is done to generate a JPEG/PNG and Webp file. HTML `picture` is used to dynamically load webp where supported or jpeg/png as a fallback. The lazy loading class and src attributes are added for lazy loading images.  */}}
{{ $type := (print "." (.Get "type")) }}
{{ $webp := resources.Get (print "img/comic/" (.Get "src") ".webp") }}
{{ $img := resources.Get (print "img/comic/" (.Get "src") $type) }}
<picture class="img-wrap">
  <source srcset="{{ $webp.Permalink }}" type="image/webp">
  <source srcset="{{ $img.Permalink }}" type="image/{{ $type }}">
  <img src="{{ $img.Permalink }}" alt="{{ .Page.Title }}"/>
</picture>